.topcontainer{
  height:100%;
  position: relative;
  padding-top: 150px;
  /* background-color: #EAF6F6; */
  background-image: url("../images/40.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.head{
    position: fixed;
    top: 0px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 30px 0;
}
body {
    margin:0px;
    text-align:center;
    font-family: 'Arvo', serif;

    /* background-color: #EFFFFD; */
    /* font size inherits */

}
h1
{
  /*<!-- 16px = 1em =100% -->  */
  /* 90px = 5.6em = 565% */
  /* fontsize in body is 2em so 5.6/2 */
  font-size: 7rem;
  font-family: 'Sacramento', cursive;
  color: white;
  margin: 0px auto 0px auto;
  line-height:1.5;
}
.top-h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color:white;
  margin:auto;
}
h2
{
  /* 40px = 40/16 = 2.5*/
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color:#66BFBF;
  margin:auto;
}

h3
{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}

a
{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
span
{
  text-decoration: underline;
}

/* .top-cloud
{
  position:absolute;
  top:50px;
  right:300px;
  width:250px;
  height:75px;
}

.bottom-cloud
{
  position:absolute;
  top:250px;
  left:400px;
  width:150px;
  height:50px;
}

.mountain
{
  width:800px;
  height:500px;
} */

.middle-container
{
  margin: 50px 0;
}

.profile
{
  display:block;
  padding: 50px 0;

}

.profilepic
{
  width:200px;
  height:200px;
}
.intro
{
  margin: 10px auto;
  width:50%;
  font-size: 1.5rem;


}

.girl{
  width:40%;
  float:right;
  margin-left:20px;
  padding:50px;
  /* position: absolute;
  top: 120px;
  right: 20px; */
  /* height: 250px; */
}
.gis{
  width:30%;
  float:left;
  margin-right:150px;
  margin-left:100px;
  padding-top: 10px;

}

.pythonpic
{
  width:40%;
  float:left;
  margin-right:80px;
  margin-top:0px;
}
.skill-row
{
  /* position: relative; */
  display:inline-block;
  width:70%;
  text-align:left;
  font-size:1.2rem;
  line-height: 1.5;
  padding:50px;
}

p
{
    line-height:2;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.contact-me{

  padding:20px;
}
.contact-p{
  width:40%;
  margin:40px auto 60px;
}
hr
{
  width:5%;
  border: dotted ;
  border-width: 0px 0px 5px 0px;
  color: #EAF6F6;
  margin: 50px auto;

}
.foot-end{
  color:#EAF6F6;
  font-size: 0.75rem;
}

.bottom-container
{
  background-color:#66BFBF;
  padding:50px 0 20px;

}
.test{
  background-color: red;
}
/* --------------EDUCATION--------------------------- */
.footer-link{
  
  font-weight:bold;
}
